[submodule "xmarts/l10n-mx-pos-global-invoice"]
	path = xmarts/l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
	branch = 15.0

[submodule "xmarts/xma-export-standard-price"]
	path = xmarts/xma-export-standard-price
	url = git@github.com:xmarts/xma-export-standard-price.git
	branch = 15.0

[submodule "xmarts/xma-macom-fix"]
	path = xmarts/xma-macom-fix
	url = git@github.com:xmarts/xma-macom-fix.git
	branch = 15.0
